# DATABASE
DB_NAME=piku_test_db
DB_USER=test
DB_PASSWORD=password123
DB_HOST=127.0.0.1
DB_PORT=5433

# SSL
SSL_ENABLED=true

# DJANGO
DEBUG=True
SECRET_KEY=django-insecure-initial-key
BACKEND_DOMAIN=127.0.0.1
BACKEND_PORT=8001

# EMAIL
EMAIL_HOST=127.0.0.1
EMAIL_PORT=1026
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=
FROM_EMAIL="Test <test@pi-ku.app>"
EMAIL_API_PORT=8026

# FRONTEND
FRONTEND_PORT=5199
FRONTEND_DOMAIN=127.0.0.1
VITE_API_URL=https://127.0.0.1:8001
