# DATABASE
DB_NAME=piku
DB_USER=user
DB_PASSWORD=password123
DB_HOST=localhost
DB_PORT=5432

# SSL
SSL_ENABLED=true

# DJANGO
DEBUG=True
SECRET_KEY=django-secret-key
BACKEND_DOMAIN=127.0.0.1
BACKEND_PORT=8000

# EMAIL
EMAIL_HOST=127.0.0.1
EMAIL_PORT=1025
EMAIL_HOST_USER=test
EMAIL_HOST_PASSWORD=password123
FROM_EMAIL="Pi Ku <no-reply@test.com>"

# FRONTEND
FRONTEND_PORT=5173
FRONTEND_DOMAIN=127.0.0.1
VITE_API_URL=https://127.0.0.1:8000
