# DATABASE
DB_NAME=piku
DB_USER=user
DB_PASSWORD=password123
DB_HOST=localhost
DB_PORT=5432

# DJANGO
DEBUG=True
SECRET_KEY=django-secret-key
ALLOWED_HOSTS=localhost,127.0.0.1

# EMAIL
EMAIL_HOST=localhost
EMAIL_PORT=1025

# FRONTEND
VITE_API_URL=http://localhost:8000
