{% extends 'email/base.html' %}

{% block content %}
    <p>
        Time has a way of making things clearer.<br/>
        Or heavier. Sometimes both.
    </p>
    <p>
        You had something to say at this exact moment.<br/>
        I kept it exactly as you left it. <br/>
        Not a word changed. Not a word read.
    </p>
{% endblock %}

{% block footnote %}
    <p>
        You're ready now. Or maybe you're still not.<br/>
        Open it anyway. You won't regret it.
    </p>
{% endblock %}