@import "tailwindcss";
@plugin "daisyui";

@plugin "daisyui/theme" {
  name: "piku";
  default: false;
  prefersdark: true;
  color-scheme: "dark";
  --color-base-100: #231e18;
  --color-base-200: #1e1914;
  --color-base-300: #1a1410;
  --color-base-content: oklch(76% 0.188 70.08);
  --color-primary: #7a5520;
  --color-primary-content: #c8b890;
  --color-secondary: #2a1e13;
  --color-secondary-content: #e8d5b0;
  --color-accent: #3d2e1e;
  --color-accent-content: #c8903a;
  --color-neutral: #2e2820;
  --color-neutral-content: oklch(98% 0.016 73.684);
  --color-info: #2a3040;
  --color-info-content: #a0aabf;
  --color-success: #d6d996;
  --color-success-content: #8aaa8a;
  --color-warning: #4a3010;
  --color-warning-content: #d4a050;
  --color-error: #3d1e1a;
  --color-error-content: #c07060;
  --radius-selector: 1rem;
  --radius-field: 0rem;
  --radius-box: 0.25rem;
  --size-selector: 0.28125rem;
  --size-field: 0.28125rem;
  --border: 1px;
  --depth: 0;
  --noise: 0;
}
